<h2><%= @user.name %> さんとのチャット</h2>
<table class="table text-center">
    <tbody>
      <% @chats.each do |chat| %>
        <tr>
          <td>
            <%= chat.message %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

<%= form_with model: @chat do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <% f.submit %>
<% end %>