<h2 class="text-center"><%= @user.name %> さんとのチャット</h2>
<table class="table col-5 mx-auto container-fluid">
    <tbody align="center">
      <% @chats.each do |chat| %>
        <% if chat.user == @user %>
          <tr class="row justify-content-start">
            <td><%= chat.user.name %></td>
            <td><%= chat.message %></td>
          </tr>
        <% else %>
          <tr class="row justify-content-end">
            <td><%= chat.user.name %></td>
            <td><%= chat.message %></td>
            <td><%= link_to 'Destroy', room_chat_path(chat.room, chat), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= form_with model: [@room,@chat] do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
    <%= button_tag type: "submit" do %>
    →
    <% end %>
  <% end %>
</div>